<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Welcome to Facebook</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
 <link rel="stylesheet" href="../css/style.css">
 <script src="../scripts/script.js"></script>
</head>

<body>
 <div class="container">
  <h1>Welcome to Facebook</h1>
  <h4>Here are your feeds</h4>
  <div id="feeds"></div>
  <form id="addPostForm">
   <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" required>
   </div>
   <div class="form-group">
    <label for="message">Message:</label>
    <input type="text" class="form-control" id="message" required>
   </div>
   <button type="submit" class="btn btn-primary">Add Post</button>
  </form>
 </div>
</body>

</html>